#body {
    display: flex;
}

#hero {
    top: 0;
}

#left, #right {
    display: block;
}

#left {
    left: 0;
    width: 25vw;
    background-color: aqua;
}

#right {
    right: 0;
    width: 75vw;
    background-color: lightcoral;
}